@font-face {
    font-family: 'title-font-400';
    src: url('../fonts/Hind/Hind-Regular.ttf');
}

@font-face {
    font-family: 'title-font-600';
    src: url('../fonts/Hind/Hind-SemiBold.ttf');
}

@font-face {
    font-family: 'main-font-400';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'main-font-700';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}